@import "tailwindcss";

@font-face{
  font-family: "ClashDisplay";
  src:local("ClashDisplay"),
  url('./fonts/ClashDisplay/ClashDisplay-Variable.ttf') 
}

@theme {
  --color-primary: #151616;
  --font-clash-display: 'ClashDisplay', sans-serif;

}

@layer base {
  body {
    font-family: var(--font-clash-display);
  }

  h1 {
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-tight);
  }

  h2 {
    font-weight: var(--font-semibold);
    letter-spacing: var(--tracking-tight);
  }
}